<div>
    <h1>PROFILE</h1>
        <h1>Update Profile information</h1>
        <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
    
            <div class="form-group">
                <label>Name:</label>
                <input type="text" [formControl]="name"/>
                <span style="color: red;" *ngIf="profileForm.get('name').errors && (profileForm.get('name').touched || profileForm.get('name').dirty) ">
                    <span *ngIf="profileForm.get('name').errors.required">User name is required</span>
                    <span *ngIf="profileForm.get('name').errors.pattern">No és permès utilitzar caràcters especials ni espais al davant o al darrera</span>
                    <span *ngIf="profileForm.get('name').errors.minlength || profileForm.get('name').errors.maxlength">El camp ha de contenir entre 3 i 55 caràcters</span>
                </span>
            </div>
    
            <div class="form-group">
                <label>Surname:</label>
                <input type="text" [formControl]="surname"/>
                <span style="color: red;" *ngIf="profileForm.get('surname').errors && (profileForm.get('surname').touched || profileForm.get('surname').dirty) ">
                    <span *ngIf="profileForm.get('surname').errors.pattern">No és permès utilitzar caràcters especials ni espais al davant o al darrera</span>
                    <span *ngIf="profileForm.get('surname').errors.minlength || profileForm.get('surname').errors.maxlength">El camp ha de contenir entre 3 i 55 caràcters</span>
                </span>
            </div>
    
            <div class="form-group">
                <label>Birth date:</label>
                <input type="text" [formControl]="birthdate"/>

                <span style="color: red;" *ngIf="profileForm.get('birthDate').errors && (profileForm.get('birthDate').touched || profileForm.get('birthDate').dirty) ">
                    <span *ngIf="profileForm.get('birthDate').errors.pattern"> User birthdate must be like DD/MM/YYYY</span>
                </span>
            </div>
            <div class="form-group">
                <label>Phone:</label>
                <input type="number" [formControl]="phone"/>
            </div>
            <div class="form-group">
                <label>Nationality:</label>
                <select [formControl]="nationality">
                    <option>ES</option>
                    <option>FR</option>
                    <option>IT</option>
                    <option>PT</option>
                </select>
            </div>
            <div class="form-group">
                <label>NIF:</label>
                <input type="text" [formControl]="nif"/>
                <span style="color: red;" *ngIf="validatorNIF()">It's not a correct NIF</span>
            </div>
            <div class="form-group">
                <label>About me:</label>
                <input type="text" [formControl]="about"/>
            </div>
            <div *ngIf="company" class="form-group">
                <label>Company name:</label>
                    <input type="text" [formControl]="companyName" />
                    <span style="color: red;" *ngIf="profileForm.get('companyName').errors && (profileForm.get('companyName').touched || profileForm.get('companyName').dirty) ">
                        <span *ngIf="profileForm.get('companyName').errors.required">Company name is required</span>
                        <span *ngIf="profileForm.get('companyName').errors.minlength || profileForm.get('companyName').errors.maxlength">El camp ha de contenir entre 3 i 255 caràcters</span>
                    </span>
                    <span style="color: red;" *ngIf="validatorTRIM()">There cannot be a whitespace at the beggining</span>
                </div>
                <div *ngIf="company">
                    <label>Company description:
                        <input type="text"  [formControl]="companyDescription" />
                    </label>
                </div>
                <div *ngIf="company">
                    <label>CIF:
                        <input type="text"  [formControl]="cif" />
                        <span style="color: red;" *ngIf="profileForm.get('cif').errors && (profileForm.get('cif').touched || profileForm.get('cif').dirty) ">
                            <span *ngIf="profileForm.get('cif').errors.required">User name is required</span>
                        </span>
                    </label>
                </div>
    
            <div class="form-group">
                <button type="submit" [disabled]="!profileForm.valid">UPDATE PROFILE</button>
            </div>
        </form>
    </div>
    