
<div *ngIf="user != undefined">
<h2>PROFILE</h2>
<div>
    <label>Name: 
    <input type="text" value="{{user.profile.name}}" readonly/>
</label>
</div>
<div>
    <label>Surname:
        <input type="text" value="{{user.profile.surname}}" readonly/>
    </label>
</div>
<div>
<label>Birth date:
<input type="text" value="{{user.profile.birthDate}}" readonly/>
</label>

</div>
<div>
<label>Phone:
    <input type="text" value=" {{user.profile.phone}}" readonly/>
</label>
</div>
<div>
<label>Nationality
<input type="text" value="{{user.profile.nationality}}" readonly/>
</label>         
</div>
<div>
<label>NIF:
     <input type="text" value="{{user.profile.nif}}" readonly/>
</label>
</div>
<div>
<label>About me:
    <input type="text" value="{{user.profile.aboutMe}}" readonly/>
</label>
</div>
<div *ngIf="company">
<label>Company name:
    <input type="text" value="{{user.profile.companyName}}" readonly/>
</label>
</div>
<div *ngIf="company">
    <label>Company description:
        <input type="text" value="{{user.profile.companyDescription}}" readonly/>
    </label>
</div>
<div *ngIf="company">
    <label>CIF:
        <input type="text" value="{{user.profile.cif}}" readonly/>
    </label>
</div>
            
<button type="button" (click)="updateProfile()">UPDATE PROFILE INFORMATION</button>

<!-- Education -->

<h2>EDUCATION</h2>
    <table>
        <thead>
            <tr>
            <th>TYPE</th>
            <th>LEVEL</th>
            <th>NAME</th>
            <th>UNIVERSITY</th>
            <th>FINISH DATE</th>
            <th>ACTIONS</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let education of educations">
                <th>{{education.type}}</th>
                <th>{{education.level}}</th>
                <th>{{education.name}}</th>
                <th>{{education.university}}</th>
                <th>{{education.finishDate}}</th>
                <th><button (click)="updateEducation(education)">UPDATE</button><button (click)="deleteEducation(education)">DELETE</button></th>
            </tr>
        </tbody>
    </table>
    <button (click)="addEducation()">NEW EDUCATION</button>

<!-- Languages -->

<h2>LANGUAGES</h2>
    <table>
        <thead>
            <tr>
            <th>LEVEL</th>
            <th>LANGUAGE</th>
            <th>FINISH DATE</th>
            <th>ACTIONS</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let _language of _languages">
                <th>{{_language.level}}</th>
                <th>{{_language.language}}</th>
                <th>{{_language.finishDate}}</th>
                <th><button (click)="updateLanguage(_language)">UPDATE</button><button (click)="deleteLanguage(_language)">DELETE</button></th>
            </tr>
        </tbody>
    </table>
    <button (click)="addLanguage()">NEW LANGUAGE</button>


</div>
